body{
 background-color: #fff; 
 font-family: 'Unica One', cursive;
 font-size: 18px;
}

.serach-reults{
    margin: 1em 0;
}

.serach-reults-label{
    font-size: 1.5em;
}
.nav-pills{
    background-color: #629c44;
    margin-top: 1em;
    margin-bottom: 1em;
}
.nav-pills a{
  color: #fff;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover,  .nav-pills>li>a:active{
    background-color: #4f7e36;
}

.results{
    border: 1px solid #DBA632;
    padding: 8px;
    text-align: center;
    margin-bottom: 1em;
    cursor: pointer;
}

@media screen and (max-width: 768px) { 
    .result-image{
        height: 5em;
        margin: 0 auto;
        border-top: 5px solid #DBA632;
        border-bottom: 3px solid #DBA632;
    }
}

@media screen and (min-width: 768px) { 
    .result-image{
        height: 9.4em;
        margin: 0 auto;
        border-top: 3px solid #DBA632;
        border-bottom: 3px solid #DBA632;
    }
}

.form-group .form-control-feedback {
  top: 0;
  pointer-events: initial; /* or - auto // or -  unset  */
  cursor: pointer;
}

.result-name{
    padding-top: 6px;
}