body{
 background-color: #fff; 
 font-family: 'Unica One', cursive;
 padding-top: 80px;
}

.navbar .navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    box-shadow: none;
} 

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.navbar-btn {
    margin-left: 1em;
    background-color: transparent;
    border: 1px solid #629c44;
    font-size: 16px;
}


@media (min-width: 768px){
    .navbar-right {
        float: right !important;
         margin-right: 2em; 
    }
}

.navbar-default .navbar-nav>li> .home, .navbar-default .navbar-nav>li> .about {
  color: #000;
  font-size: 2em;
}

.navbar-default .navbar-nav {
    margin-left: 10em;
}

.swift-logo{
    width: 14em;   
}

.transparent{
   background:#fff; 
}

.divider-vertical {
    height: 30px;
    margin: 10px 10px;
    border-left: 1px solid #629c44;
    border-right: 1px solid #629c44;
}

.nav-pills> li{
    border: 1px solid #629c44;
}

.nav-pills> li> a> .badge{
    margin-right: 1em;
    background-color: #629c44;
}

.nav-pills> li> a> .glyphicon{
    margin-left: 1em;
}

.nav-pills a{
    font-size: 1.2em;
}