.swift-logo:hover {
    opacity: 0.6;
}

.logo-1{
    font-size: 2em;
    color: #000;
     font-family: 'Unica One', cursive;
}

.logo-2{
    font-size: 1.5em;
    color: #629c44;
    font-family: 'La Belle Aurore', cursive;
}

.navbar .navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 5px;
    border: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-btn {
    margin-left: 1em;
    background-color: #fff;
    border: 1px solid #629c44;
    font-size: 14px;
}

.login-btn:hover {
    background-color: #629c44;
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 2em;
    }
}

.navbar-default .navbar-nav>li>.home,
.navbar-default .navbar-nav>li>.about {
    color: #000;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>.home:hover,
.navbar-default .navbar-nav>li>.about:hover {
    color: #629c44;
}

.navbar-default .navbar-nav {
    margin-left: 10em;
}

.transparent {
    background: #fff;
}

.divider-vertical {
    height: 30px;
    margin: 10px 10px;
    border-left: 1px solid #629c44;
    border-right: 1px solid #629c44;
}

.saved-items {
    border: 1px solid #629c44;
    padding: 10px;
    background-color: #fff;
}

.saved-items:hover, .saved-items:hover a{
    background-color: #629c44;
    color: #fff;
}
.saved-items a{
    color: #000;
    text-decoration: none;
}
.saved-items>a>.badge {
    margin-right: 1em;
    background-color: #81af69;
}

.saved-items>a>.glyphicon {
    margin-left: 1em;
}

